<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dental Clinic Management System</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <meta charset="UTF-8">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>
<body>
        <div class="container">

            <form method="post">
            <h2 class="form-signup-heading">Please sign up</h2>


        <label for="firstname" class="sr-only">First Name</label>
                <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Firstname" required>

          <label for="lastname" class="sr-only">Last Name</label>
                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Lastname" required>

               <label for="gender" class="sr-only">Gender</label>
                <input type="text" id="gender" name="gender" class="form-control" placeholder="Gender" required>


        <label for="inputEmail" class="sr-only">Email address</label>
        <input autofocus="" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email:XXX@xxx" required
               type="email">

                <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="inputPassword"placeholder="Password" required>

        <label for="phone_number" class="sr-only">Phone</label>
        <input type="text" id="phone_number" class="form-control" name="phone_number" placeholder="Phone" required>



                <label for="Address" class="sr-only">Address</label>
        <input type="text" id="Address" class="form-control" name="Address" placeholder="HouseNumber/Street/City/Province" required>


                <label for="SSN" class="sr-only">SSN</label>
        <input type="text" id="SSN" class="form-control" name="SSN" placeholder="SSN" required>

                <label for="identification" class="sr-only">You are</label>
                <input type="text" id="identification" class="form-control" name="identification" placeholder="Dentist/Receptionist/Patient" required>


          <a href="/login">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
          </a>
            </form>
        </div>




</body>
</html>